.container{
    margin: 0 auto;
   max-width: 500px;
   background-image: url(../img/nota.jpeg);
   
}
.containerItems{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #344648;
    border-radius: 5px;
    background-color:#7D8E95;
     margin-top: 5px;
     color: azure;
}

.divCirle{
    border: 1px solid black;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

ul{
    list-style: none;
}

img{
    width: 25px;
    height: 25px;
}
input{
    background-color: #FFBB98;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
button{
    background-color:#7D8E95;
    border: none;
    padding: 10px;
    color: white;margin-left: 10px;
    border-radius: 5px;
}
h1{
    color: #344648;
    font-size: 60px;
}